.nav-head{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero{
    display: grid;
    grid-template-columns: 90% 10%;
    padding-top: 35%;
    height: 600px;
}

.greeting{
    padding-bottom: 100px;
}

.project{
    display: flex;
    flex-direction: column;

}

.projects article:nth-child(2n){
    display: flex;
    flex-direction: column-reverse;
}

.about-content{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
    .contact-container{
        display: flex;
        flex-direction: column;
    }
}

.con-mail-logo{
    margin-right: 230px;
}