:root{
    --primary-color: #213448;
    --secondary-color: #ECEFCA;
}

*{
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: black;
    }
}

body{
    background-color: var(--secondary-color);
    box-sizing: border-box;
    max-width: fit-content;
    max-height: fit-content;
}
header{
    font-size:medium;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}

main{
    padding: 100px;
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
    font-family: 'comfortaa';
    color: rgb(53, 51, 51);
    padding: -10px;
    /* svg{
        path{
            padding-bottom: -100px;
        }
    } */
}

.logo{
    display: flex;
    justify-content: center;
    a{
        display: inline;
        margin: 15px;
        max-width: 20%;
    }
}

.hero{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 450px;
}

.header-name{
    font-size: medium;
    font-family:'comfortaa';
    padding: 5px;
    padding-left: 100px;
}
.nav-head{
    font-family:'raleway';
    padding: 10px;
    padding-right: 100px;
    a{
        padding: 25px 25px;
    }
}

.greeting{
    width: 80%;
    margin-bottom: 300px;
}
.tag{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: var(--primary-color);
}

.full-name{
    font-size: xx-large;
    max-width: 40vw;
    word-spacing: auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 800;
    display: block;
    margin-bottom: 3vh;
}

.intro{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: justify;
}
.project-btn-hero{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5px;
    width: 35%;
    font-size: 80%;
    padding: 5px 5px;
    a{
        color: var(--secondary-color);
    }
}

.linkedin-btn-hero{
    border-radius: 5px;
    width: 35%;
    font-size: 80%;
    padding: 5px 5px;
}

/* .picture-self img{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    mask-image: url(/src/images/yellow-bg.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--primary-color);
    -webkit-mask-image: url(/src/images/yellow-bg.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    
} */

.picture-self {
    position: absolute; 
    z-index: -1;
    top: 0;
    right: 0;
    width: 620px;
    height: 560px;
    background-image: url(/src/images/Rahman-2-wbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mask-image: url(/src/images/yellow-bg.png);
    -webkit-mask-image: url(/src/images/yellow-bg.png);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: var(--primary-color);

    /* img{ */
    /* position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%; */
    /* background-image: url(/src/images/Rahman-2-wbg.png);
    background-repeat: no-repeat;
    background-position: left; */
    
    /* mask-image: url(/src/images/yellow-bg.png);
    mask-repeat: no-repeat;
    background-color: var(--primary-color);
    mask-size: cover;
    mask-position: center; */
    /*
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--primary-color);
    -webkit-mask-image: url(/src/images/yellow-bg.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center; */
    /* } */
}

.projects-tag{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--primary-color);
}

.project{
    margin: 50px 50px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .project-desc{
        padding: 70px 50px;
        width: 100%;
    }
    .project-pict{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            min-height: 100%;
            border: 2px solid white;
            border-radius: 10px;
        }
    }
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: justify;
    line-height: 25px;
}

.artic-btn{
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 5px;
    a{
        padding: 10px;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: var(--primary-color);
    }
    form{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 10px;
        .item-label{
            margin-bottom: 10px;
        }
        .item-label{
            font-family: Arial, Helvetica, sans-serif;
        }
        .item-input{
            margin-bottom: 20px;
            border: 2px solid white;
            border-radius: 5px;
            height: 5vh;
        }
        #message{
                height: 15vh;
            }
        .btn-form{
            display: flex;
            justify-content: right;
            margin-bottom: 20px;
            button{
            width: 25%;
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            border-radius: 5px;
            padding: 5px 5px;
            color: var(--secondary-color);
            }
        }
    }
}

/* .bottom-wave{
    svg{
        position: fixed;
        bottom: 0;
    }
} */

/*
Page-About
*/
.about-content{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-bottom: 100px;
}

.about-me{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: justify;
    line-height: 25px;
}

.resume-btn{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5px;
    width: 20%;
    font-size: 80%;
    padding: 5px 5px;
    a{
        color: var(--secondary-color);
    }
}

.about-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
    z-index: -1;
    width: 50%;
    border: var(--primary-color);
    border-radius: 100%;
    background-color: var(--primary-color);
    }
}

/* 
Contact
*/

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        font-size: xx-large;
        font-weight: 800;
        color: var(--primary-color);
    }
    .contact-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .contact-container:nth-child(1){
        margin-bottom: 0;
    }
}
.con-insta-logo{
    img{
        width: 300px;
    }
    
}

.con-link-logo{
    img{
        width: 300px;
    }
    
}

.con-mail-logo{
    img{
        width: 160px;
        margin-left: 230px;
    }
}

.label{
    margin-left: 30px;
}