.nav-head{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-content{
    display: grid;
    grid-template-columns: 90% 10%;
}

.greeting{
    padding-bottom: 100px;
}

.pj1{
    display: flex;
    flex-direction: column;
}

.pj2{
    display: flex;
    flex-direction: column-reverse;
}

.pj3{
    display: flex;
    flex-direction: column;
}

.about-content{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
    .contact-container{
        display: flex;
        flex-direction: column;
    }
}

.con-mail-logo{
    margin-right: 230px;
}