<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="part contact of my mini project">
    <link rel="stylesheet" href="style/stylishMiniProject.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/stylishQuery.css" media="screen and (min-width: 640px) and (max-width: 1024px)">
    <title>Mini Project Rahman</title>
</head>
<body>
    <header>
        <h1 class="header-name">
            M. Fadhlul Rahman Prabowo
        </h1>
        <nav class="nav-head">
            <a href="view/about.html">About</a>
            <a href="index.html">Projects</a>
            <a href="view/contacts.html">Contacts</a>
        </nav>
    </header>
    <main>
        <section class="contact-content">
                <section class="about-intro">
                    <h1 class="title">
                        My Contact's
                    </h1>
                    <p class="about-me">
                        this is my contact that can be contacted!
                    </p>
                </section>
            <section class="contact">
            <div class="contact-container">
                <div>
                    <a class="con-insta-logo" href="https://www.instagram.com/rahman.fadh88/?hl=en" target="_blank">
                        <img src="image/insta-logo.png" alt="insta-logo">
                    </a>
                </div>
                <div class="label">rahman.fadh88</div>
            </div>
            <div class="contact-container">
                <div>
                    <a class="con-link-logo" href="https://www.linkedin.com/in/fadhlul-rahman-a0787b262/"target="_blank">
                    <img src="image/link-logo.png" alt="linkedin-logo">
                    </a>
                </div>
                <div class="label">Fadhlul Rahman</div>
            </div>
            <div class="contact-container">
                <div>
                    <a class="con-mail-logo" href="mailto:fadhlulrahman687@gmail.com" target="_blank">
                    <img src="image/email-logo.png" alt="mail-logo">
                    </a>
                </div>
                <div class="label">fadhlulrahman687@gmail.com</div>
            </div>
            </section>
        </section>
    </main>
    <footer>
        <p>
           See You!
        </p>
        <svg class="bottom-wave" width="1450" height="300" viewBox="0 0 1440 344" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 258L60 229.333C120 200.667 240 143.333 360 150.5C480 157.667 600 229.333 720 229.333C840 229.333 960 157.667 1080 107.5C1200 57.3333 1320 28.6667 1380 14.3333L1440 0V344H1380C1320 344 1200 344 1080 344C960 344 840 344 720 344C600 344 480 344 360 344C240 344 120 344 60 344H0V258Z" fill="#00FFFF"/>
        </svg>
    </footer>
</body>
</html>